<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/generales.css}">
  <div th:replace="nav/nav.html :: css"></div>
</head>
<header th:replace="nav/nav.html :: nav"> </header>

<body>
   <form action="numeroCurricula" method="post">
   	<input hidden th:value="${numeroCurricula.idCurricula}" name="id">
        <b>Nombre</b>
        <input type="text"  th:value="${numeroCurricula.nombre}" name="nombre">
        <button>Editar</button>
</form>
  <div class="row justify-content-center mt-3">
    <div class="col-4">
      <table class="table table-dark">
        <thead>
        <h3 class="row justify-content-center m-2">Materias</h3>
          <tr>
            <th >Nombre</th>
            <th>Modalidad</th>
            <th >Agregar</th>
          </tr>
        </thead>
        <tbody >
          <tr th:each="materia : ${materias}" th:if="${materia.alta}">
            <th  class="col-2" th:text="${materia.nombreMateria}" scope="row"></th>
            <td  class="col-2" th:text="${materia.modalidadCursado}"></td>
            <form  action="agregarMateriaListaCurricula" method="POST">
              <input class="fechaCampo" hidden name="idCurricula" th:value="${numeroCurricula.idCurricula}" />
              <input class="fechaCampo" hidden name="idMateria" th:value="${materia.idMateria}" />
              <td class="col-2" ><button class="buttonCheck"> </button></td>
            </form>
          </tr>
        </tbody>
      </table>
  </div>
    <div class="col-4">
      <table class="table table-dark">
        <thead  >
        <h3 class="row justify-content-center m-2">Materias Curricula</h3>
          <tr>
            <th >Nombre</th>
            <th>Modalidad</th>
            <th >Eliminar</th>
          </tr>
        </thead>
       <tbody >
          <tr th:each="materiacurricula : ${numeroCurricula.materia}" >
	          <td  class="col-2" th:text="${materiacurricula.nombreMateria}"></td>
	          <td  class="col-2" th:text="${materiacurricula.modalidadCursado}"></td>
	          <form  action="eliminarMateriaListaCurricula" method="POST">
	 			<input class="fechaCampo" hidden name="idCurricula" th:value="${numeroCurricula.idCurricula}" />
             	<input class="fechaCampo" hidden name="idMateria" th:value="${materiacurricula.idMateria}" />
	          	 <td class="col-2" ><button class="buttonCruz"> </button></td>
	          </form>
          </tr>
        </tbody> 
      </table>
 	 </div>
    </div> 
  </div>
</body>
</html>