<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{../../css/generales.css}">
    <div th:replace="nav/nav.html :: css"></div>
</head>
<header th:replace="nav/nav.html :: nav"> </header>
<body>
  <form action="materia" method="post">
 		
  		<input hidden th:value="${materia.idMateria}" name="id">
        <b>Nombre</b>
        <input type="text" th:value="${materia.nombreMateria}" name="nombre">
        <b>Formato</b>
        <input type="text" th:value="${materia.formato}" name="formato">
        <b>Cantidad de horas</b>
        <input type="number"th:value="${materia.cantidadHoras}" name="cantidadHoras">
        <b>Modalidad de cursado</b>
        <input type="text" th:value="${materia.modalidadCursado}" name="modalidadCursaro">
        <button>Editar</button>
</form>

          <tr th:each="mater : ${materia.curriculas}" >
	          <form  action="eliminarMateriaListaCurricula" method="POST">
	          	<input class="fechaCampo" hidden name="idCurricula" th:value="${mater.idCurricula}" />
             	<input class="fechaCampo" hidden name="idMateria" th:value="${materia.idMateria}" />
	 			<input class="fechaCampo"   th:value="${mater.idCurricula}" />
             	<input class="fechaCampo"   th:value="${mater.nombre}" />
	          	 <td class="col-2" ><button class="buttonCruz"> </button></td>
	          
	          </form>
          </tr>
</body>
</html>