<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div th:replace="nav/nav.html :: css"></div>
    <title>Document</title>
      <link rel="stylesheet" th:href="@{/css/generales.css}">
</head>
<header th:replace="nav/nav.html :: nav"> </header>

<body>
<div class="row justify-content-center">
    <form action="legajo" method="post" class="col-12 text-center">
    	 <input class="fechaCampo" th:value="${legajo.idLegajo}" hidden name="id" />
        
          <div class="m-2 col-10">
          <label class="col-3 col-sm-2 text-end m-2">Partida de nacimiento</label>
        <input class="col-6 col-sm-2" type="checkbox" th:field="${legajo.partidaNacimiento}" name="partidaNacimiento">
    </div>
    
        <div class="m-2 col-10">
        <label class="col-3 col-sm-2 text-end m-2">Fotocopia DNI</label>
        <input class="col-6 col-sm-2" type="checkbox" th:field="${legajo.fotocopiaDNI}" name="fotocopiaDNI">
    </div>
    
        <div class="m-2 col-10">
         <label class="col-3 col-sm-2 text-end m-2">Cooperadora</label>
        <input class="col-6 col-sm-2"type="checkbox" th:field="${legajo.cooperadora}" name="cooperadora">
    </div>
    
        <div class="m-2 col-10">
        
           <label class="col-3 col-sm-2 text-end m-2">TituloSecundario</label>
        <input class="col-6 col-sm-2" type="checkbox" th:field="${legajo.tituloSecundario}" name="tituloSecundario">
    </div>
    
        <div class="m-2 col-10">
         <label class="col-3 col-sm-2 text-end m-2">DescripcionTitulo</label>
        <input class="col-6 col-sm-2" type="text" th:value="${legajo.descripcionTitulo}" name="descripcionTitulo">
    </div>
    
        <div class="m-2 col-10">
        <label class="col-3 col-sm-2 text-end m-2">Descripcion de Cooperadora</label>
        <input class="col-6 col-sm-2" type="number" th:value="${legajo.descripcionCooperadora}" name="descripcionCooperadora">
    </div>

  <div class="m-2 col-10">
        <label class="col-3 col-sm-2 text-end m-2"> Anotaciones</label>
        <input class="col-6 col-sm-2" type="text" th:value="${legajo.anotaciones}" name="anotaciones">
    </div>
      
        
           
        
          
        
        
       
        
        
        
       
        
        <button  class="col-2 boton">Editar</button>
    </form>
</div>
     <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Agregar</th>
    </tr>
  </thead>
  <tbody>
    <tr  th:each = "vacuna : ${vacunas}" th:if="${vacuna.alta}" >
      <th  th:value="${vacuna.nombre}" th:text="${vacuna.nombre}" scope="row" name="id"></th>
      
     	<form  action="agregarVacunaLegajo" method="POST">	
     		<input class="fechaCampo" th:value="${vacuna.idVacuna}" hidden name="idVacuna" />
		    <input class="fechaCampo" th:value="${legajo.idLegajo}" hidden name="idLegajo" />
		    <td><button class="buttonCheck"> </button></td>
	    </form>
    </tr>
  </tbody>
</table>

 <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Agregar</th>
    </tr>
  </thead>
  <tbody>
    <tr  th:each = "vacuna : ${legajo.vacunas}" th:if="${vacuna.alta}" >
      <th  th:value="${vacuna.nombre}" th:text="${vacuna.nombre}" scope="row" name="id"></th>
      
     	<form  action="eliminarVacunaLegajo" method="POST">	
     		<input class="fechaCampo" th:value="${vacuna.idVacuna}" hidden name="idVacuna" />
		    <input class="fechaCampo" th:value="${legajo.idLegajo}" hidden name="idLegajo" />
		    <td><button class="buttonCruz"> </button></td>
	    </form>
    </tr>
  </tbody>
</table>
    
</body>
</html>